[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
graphene = "*"
fastapi = "*"
sqlalchemy = "*"
uvicorn = "*"
psycopg2 = "*"
requests = "*"
flake8 = "*"
pydantic = {extras = ["email"], version = "*"}
pytest = "*"
sqlalchemy-utils = "*"
python-dotenv = "*"
graphene-sqlalchemy = "*"
firebase-admin = "*"
strawberry-graphql = {extras = ["fastapi"], version = "*"}
websockets = "*"
opencv-python = "*"
numpy = "*"

[dev-packages]
mypy = "*"

[requires]
python_version = "3.9"
